#devices {	
	margin-top: 40px;
	margin-left: 170px;
}

#devices div {
	padding: 0px;
}

#devices .brick {
	background-color: #fff;
	position: relative;
	z-index: auto;
	padding: 2px;
	height: 192px;
	border-right: 3px solid rgb(236, 240, 241);
	border-bottom: 3px solid rgb(236, 240, 241); 
}

#devices .mockup {
	padding-top: 10px;
	padding-left: 5px;
	height: 192px;
}

#devices .mockup div {
	height: 100%;
	border: 3px dashed rgb(236, 240, 241);
}

#devices h1 {
	margin: 0px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(52, 73, 94);
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin-right: 3px;
}

#devices h2 {
	margin: 0px;
	font-size: 16px;
	font-weight: 300;
	color: rgb(52, 73, 94);
	display: inline-block;
	position: relative;
}

#devices .dropdown {
	display: inline-block;
	position: relative;
}

#devices .info {
	display: inline-table;
	margin-top: 10px;
}

#devices ul {
	margin-left: 8px; 
}

#devices .brick img {
	border-radius: 50%;
	height: 100px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;

}

#devices .image{
	display: inline-block;
	height: 100%;
}