#sidebar {
	background-color: rgb(52, 73, 94);
	width: 150px;
	margin: 0px;
	float: left;
	height: 100%;
	left: 0;
}

#sidebar #user {
	
}

#sidebar #avatar {
	margin-top: 12px;
	width: 64px;
	height: 64px;
	border: 3px solid rgb(189, 195, 199);
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#sidebar #avatar img {
	width: 64px;
	height: 64px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}

#sidebar #username{
	margin-top: 6px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#sidebar #username .text {
	color: rgb(236, 240, 241);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	display: inline-block;

}

#sidebar #username .icon-arrow-down {
	background-image: url("../images/sprites/arrow-down.png");
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 10px;
	background-repeat: no-repeat;
	}