#wall {	
	margin-top: 40px;
	margin-left: 170px;
}

#wall div {
	padding: 0px;
}

#wall .brick {
	background-color: #fff;
	position: relative;
	z-index: auto;
	padding: 2px;
	height: 192px;
	border-right: 3px solid rgb(236, 240, 241);
	border-bottom: 3px solid rgb(236, 240, 241); 
}

#wall .mockup {
	padding-top: 10px;
	padding-left: 5px;
	height: 192px;
}

#wall .mockup div {
	height: 100%;
	border: 3px dashed rgb(236, 240, 241);
}

#wall h1 {
	margin: 5px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(52, 73, 94);
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin-right: 3px;
}

#wall h2 {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 300;
	color: rgb(52, 73, 94);
	display: inline-block;
	position: relative;
}

#wall .dropdown {
	display: inline-block;
	position: relative;
}

#wall a:hover, a:focus {
	
}